body, html {
    width: 100%;
    padding: 0%;
}

h1 {
    color: antiquewhite;
    padding-left: 1em;
    text-shadow: -.1em -.1em .1em black;
    background-color: forestgreen;
    width: 100%;
    margin: 0% auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.gradient {
    background-image: linear-gradient(to right, seagreen, black);
}

ul#navbarlist {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

.navbar {
    background-color: burlywood;
}

#magnifyingGlass {
    padding-top: 10px;
}